{% if store.wishlist_enabled %}
<button type="button" @click="$store.wishlist.toggle({{ package.id }})" :class="$store.wishlist.isWishlisted({{ package.id }}) ? 'text-red-400' : ''" style="display:flex; align-items:center; gap:5px; font-size:11px; font-weight:700; color:var(--vv-dim); background:none; border:none; cursor:pointer;">
    <svg style="width:13px;height:13px;" :class="$store.wishlist.isWishlisted({{ package.id }}) ? 'fill-current' : ''" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/></svg>
    <span x-show="!$store.wishlist.isWishlisted({{ package.id }})">Wishlist</span>
    <span x-show="$store.wishlist.isWishlisted({{ package.id }})" x-cloak>Wishlisted</span>
</button>
{% endif %}